@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,900;1,200;1,300;1,500;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

header {
    background-color: rgb(196, 196, 196);
    margin: auto;
    padding: 20px 0;    
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 100px;
}

nav li {
    display: inline;
    padding-left: 15px;
}

nav a {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgb(51, 50, 50);
}

nav a:hover {
    color: rgb(209, 130, 39);
    text-decoration: solid;
}

/*main da page principal*/

.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
    text-align: justify;

}

.principal p {
	margin: 0 0 2em;
}

.principal p {
	margin: -6px 1em 1em;
}

.principal strong {
	font-weight: bold;
}

.titulo-principal {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    clear: left;
}

main {
    margin: auto;
}

.utensilios {
    margin: 0 20px 20px 0;
    width: 15%;
    float: left;
}

.mapa p {
    text-align: center;
    padding-bottom: 10px;
}

.mapa {
    padding: 3em 0 3em;
    margin: 0 auto;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
    margin: 0 auto;
}

.conteudo-beneficios {
    width: 640px;
    margin: auto;
    display: flex;
    padding-bottom: 50px;
}

.lista-beneficios {
    width: 40%;
    vertical-align: top;
    margin: auto;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.beneficios li {
    list-style: none;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
    display: inline;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/* Rodapé da página*/

footer {
    background-image: url(imagens/bg.jpg);
    padding: 20px;
    text-align: center;
    margin: auto;
}

.copyright {
    color: white;
    padding: 20px 0 20px;
    font-size: 12px;
}

/* Produtos */

.produtos { 
   width: 940px;
   padding: 50px 0px;
   margin: auto;
   display: flex;
}

.produtos li {
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 5%;
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    margin: 10px;
    vertical-align: top;
    padding: 30px 20px;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 25px;
    font-weight: 500;
}

.produtos li:hover {
    border-color: rgb(209, 130, 39);
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: 500;
}

/*Contato*/

form {
    padding: 60px;
    margin: 0 20px;
}

form label, form legend {
    display: block;
    padding: 5px;
    font-size: 18px;
}

.input-padrao {
    margin: 10px;
    width: 50%;
    height: 40px;
    font-size: 18px;
}

.checkbox {
	margin: 20px 0;

}

fieldset {
    border: none;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(253, 168, 64);
    cursor: pointer;
    transition: 1s all;
}

.enviar:hover {
    background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 80px 40px;
    padding-left: 20px;
}

.diahorario {
	background-color: #5555556b;
	color: white;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}